args==0.1.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
clint==0.5.1
colorama==0.4.4
crayons==0.4.0
cssselect==1.1.0
de-core-news-lg==3.2.0
duden==0.16.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.7.1
idna==3.3
jieba3k==0.35.1
joblib==1.1.0
lxml==4.9.0
newspaper3k==0.2.8
nltk==3.6.7
patool==1.12
Pillow==9.1.1
pip==21.3.1
pip-autoremove==0.10.0
python-dateutil==2.8.2
pyxdg==0.27
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
requests-file==1.5.1
setuptools==59.4.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.1
tika==1.24
tinysegmenter==0.3
tldextract==3.3.0
tqdm==4.62.3
treetaggerwrapper==2.3
urllib3==1.26.8
wheel==0.37.0
wordninja==2.0.0
